body {
    background-image: url(img/wall.jpg);
    background-color: #cccccc;
    background-size: 100%;
}
 .main_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9C1A1C;
    background-color: white;
}

#countdown {
    font-size: 50px;
    color: salmon;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DDECEE;
    border-radius: 10px;

}
.counter>p {
    background-color: #DDECEE;
    font-size: 20px;
    color: salmon;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DDECEE;
    border-radius: 5px;
}

form {
    padding: 50px;
    border-radius: 10px;
}

.text_area {
    height: 75px!important;
}

input[type=submit] {
text-align: center;
}

